.primary-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: initial;
}
a :focus {
  color: blue;
}
.mobile-nav-toggle {
  display: none;
}
.logo {
  height: 30px;
  
}
.border-mid{
  border: 1px solid #fff;
  width: 60%;
}
.primary-nav {
  display: flex;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 14px;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  color: #000;
  background: hsl(0 0% 100% /0.1);
  backdrop-filter: blur(1rem);
padding: 20px 0;
  z-index: 1000;
  border-left: 1px solid #fff;
}
.link-name {
  color: #fff;
  font-weight: 400;
}
.fa-bars,
.fa-times {
  display: none;
}

@media only screen and (max-width: 875px) {
  .primary-header {
    padding: 0px;
    display: flex;
    justify-content: none;
    background-color: initial;
  }
  .primary-nav {
    position: fixed;
    ---gap: 2em;
    inset: 0 0 0 40%;
    flex-direction: column;
    background: steelblue;
    width: 60%;
    display: flex;
    transform: translateX(110%);

    transition: all 0.5s ease;
    background: hsl(0 0% 0% /0.75);
    backdrop-filter: blur(2rem);
    padding-inline: clamp(3rem,10vw);
  }
  .primary-nav.active {
    transform: translateY(0%);

    transition: all 0.5s ease;
    z-index: 1;
  }
  .logo {
    position: absolute;

    top: 2rem;
    left: 2rem;
    height: 30px;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: initial;
    color: #fff;
    width: 2rem;
    font-size: 30px;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  .fa-bars,
  .fa-times {
    display: block;
  }
}
